<h1><%= @space.name %> updated!</h1>
<p>Dear <%= @recipient.username %>,
<p>You've successfully updated the following space:</p>
<p>Name: <%= @space.name %></p>
<p>Price: £<%= @space.price %></p>
<p>Description: <%= @space.description %></p>
<br>
<p>Regards,</p>
<p>Team 6</p>