<h1>Reservation Confirmed!</h1>
<p>Dear <%= @recipient.username %>,
<p>You've accepted a booking for the following property:</p>
<p>Name: <%= @space.name %></p>
<p>Price: £<%= @space.price %></p>
<p>Description: <%= @space.description %></p>
<p>Booking Date: <%= @reservation.date %></p>
<p>Booked by: <%= @reservation.user.username %>
<p>Contact: <%= @reservation.user.email %>

<br>
<p>Regards,</p>
<p>Team 6</p>