<h3><%= @space.name %></h3>

<h4>Description:</h4>
<%= @space.description %>

<h4>Price: £<%= @space.price %> per night</h4>

<% if session[:user_id] == @space.user_id %>
  <p> 
    <a href="/space/<%= @space.id %>/edit">
      <button>Update Space</button>
    </a>
  </p>
  <p> 
    <a href="/space/<%= @space.id %>/delete" onclick="return confirm('Are you sure you want to delete this space?')">
      <button>Delete Space</button>
    </a>
  </p>
<% end %>

<p>Owned by: <%= @space.user.username %></p>
<p>Contact: <%= @space.user.email %></p>

<% unless @space.user.id == session[:user_id] %>
  <h4>Make a booking request:</h4>
  <form action="/reservations" method="POST">
    <input type="hidden" name="space_id" value=<%= @space.id %>>
    <select name="date">
      <% @availability.each do |day| %>
        <% unless day[:available] == :booked || day[:date] < Date.today || @reservations.select { |res| res.date == day[:date] }.length > 0 %>
          <option value=<%= day[:date] %>><%= day[:date].to_formatted_s(:long) %></option>
        <% end %>
      <% end %>
    </select>
    <input type="submit" value="Request">
  </form>
<% end %>

<h4>
  <a href='/spaces/<%= @space.id %>?month=<%= last_month(@date) %>&year=<%= last_year(@date) %>'><i class="arrow left"></i></a>
  <%= Date::MONTHNAMES[@date.month] %>, <%= @date.year %> 
  <a href='/spaces/<%= @space.id %>?month=<%= next_month(@date) %>&year=<%= next_year(@date) %>'><i class="arrow right"></i></a>
</h4>
<form action="/spaces/<%= @space.id %>">
  <select name="month">
    <% i = 1%>
    <% 12.times do %>
      <option value=<%= i %> <%= i == Date.today.month ? "selected" : "" %>><%= Date::MONTHNAMES[i] %></option>
      <% i += 1 %>
    <% end %>
  </select>
  <select name="year">
    <% j = 2020%>
    <% 3.times do %>
      <option value=<%= j %> <%= j == Date.today.year ? "selected" : "" %>><%= j %></option>
      <% j += 1 %>
    <% end %>
  </select>
  <input type="submit" value="Go">
</form>
<br>
<div class="calendar">
  <% @availability.each do |day| %>
    <div class="calendar-day <%= day[:date] < Date.today ? "unavailable" : day[:available] %>">
      <span><%= day[:date].day %></span>
      <p><%= day[:date].strftime("%A") %></p>
    </div>
  <% end %>
</div>

<form action='/'>
  <input type = 'submit' name = 'Back' value = 'Back' >
</form>
